header {
  max-width: 1230px;
  margin: 0 auto;
  color: #fff;
  position: relative;
  height: 680px;
  overflow: hidden;
}

.first-part-of-description-header {
  background: #1184d1;
  border-radius: 10px 10px 0 0;
  padding-left: 40px;
  position: absolute;
  width: 100%;
  z-index: 50;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 60px 0;
}

.nav h1 {
  font-size: 40px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-description-header {
  padding-bottom: 20px;
  width: 100%;
}

.container-description-header p:nth-child(1) {
  font-size: 28px;
  width: 300px;
  padding-bottom: 80px;
}

.container-description-header p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  color: #cceaff;
  width: 300px;
  position: relative;
}

.container-description-header p:nth-child(2)::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 300px;
  top: -15px;
  background: #c4c4c4;
}

.index-header {
  font-size: 40px;
  padding-bottom: 5px;
  color: #fff;
}

.second-part-of-description-header {
  background: #0777c2;
  border-radius: 0 0 10px 10px;
  padding-left: 40px;
  position: absolute;
  width: 100%;
  z-index: 40;
  top: 60px;
  transition: z-index 0.3s ease-in-out;
}

.second-part-of-description-header:hover {
  z-index: 60;
}

.third-part-of-description-header {
  background: #ef8451;
  border-radius: 0 0 10px 10px;
  padding-left: 40px;
  position: absolute;
  top: 120px;
  z-index: 100;
  width: 100%;
  z-index: 30;
  transition: z-index 0.3s ease-in-out;
}

.third-part-of-description-header:hover {
  z-index: 240;
}

.fourth-part-of-description-header {
  background: #ea6419;
  border-radius: 0 0 10px 10px;
  padding-left: 40px;
  position: absolute;
  top: 180px;
  z-index: 20;
  width: 100%;
  transition: z-index 0.3s ease-in-out;
}

.fourth-part-of-description-header:hover {
  z-index: 240;
}

.container-first-part {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .first-part-of-description-header,
  .second-part-of-description-header,
  .third-part-of-description-header,
  .fourth-part-of-description-header {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .first-part-of-description-header,
  .second-part-of-description-header,
  .third-part-of-description-header,
  .fourth-part-of-description-header {
    padding-left: 5px;
  }
}
